*{
    font-size: x-large;
    font-weight: bold;
}
form {
    padding: 2em;
    margin: 0 auto;
    max-width: max-content;
}
table{
    background-color: yellow;
    border-spacing: 5px;
    padding: 10px;
}
td{
    width: 60px;
    height: 60px;
}
button{
    height: 100%;
    width: 100%;
}
input{
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
}
span{
    color: rgb(190, 190, 190);
}