* {
    margin: 0;
    padding: 0;
}


.container {
    background-color: aquamarine;
    padding: 1em;
    margin: 0 auto;
    width: 40%;
    max-width: 64em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-bottom: 0.2em solid gray;
}

.additional {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    left: 50%;
    outline: 0;
    cursor: pointer;
    width: 14em;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #2ea44f;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    

}
button:hover {
    background-color: #2c974b;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}

.window {
    
    
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: none;
	background-color: rgba(0, 0, 0, .8);
}

.popup {
	position: absolute;
	width: 120em;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
    border-radius: 5px;
	box-sizing: border-box;
	padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 30%;
    max-width: 60em;
    background-color:cadetblue;
}
.popup__h2 {
  text-align: center;
}

/*
position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 0;
    right: 0;
*/