body {
    margin: 0;
    background: black;
}
#back
{
    width:  1500px;
    height: 700px;
    position: absolute;
} 
#wall {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    transition: ease 0.2s;
}

#wall:hover {
    transform: translateY(-5%);
}

#slidenwall {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    animation: ease 3s sliden;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translateY(-5%);
}

@keyframes sliden {
    from 
    {
        transform: translateY(-5%);
    }

    to {
        transform: translateY(-100%);
    }
}

#lamp {
    z-index: 2;
    position: absolute;
    margin-top: 0;
    margin-left: 500px;
    height: 340px;
    display: block;

}

    #light_on {
        border-bottom: 600px solid rgb(187, 187, 135);
        border-left: 400px solid transparent;
        border-right: 400px solid transparent;
        width: 75px;
        height: 0;
        position: absolute;
        top: 68px;
        left: 212px;
        opacity: 0.5;
        z-index: 2;
    }

#fairy {
    position: absolute;
    bottom: 10px;
    left: 325px;
    z-index: 1;
    display: none;
}

#foc{
    position: absolute;
    bottom: 30px;
    right: 550px;
	width: 100px;
	height: 300px;
	display: none;
}

#hat {
    width: 100px;
    height: 100px;
    position: absolute;
	bottom: 10px;
	opacity: 0.5;
    z-index: 2;
    display: block;
}
#rabbit {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100px;
    z-index: 0;
    display: none;
}

#rabbit_new {
    position: absolute;
    z-index: 2;
    width: 80px;
    height: 80px;
    display:block;
    bottom: 100px;
	opacity: 0.5;
    animation: ease 1s focus;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes focus {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-40%);
    }
}

#pigeon {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100px;
	opacity: 0.5;
    z-index: 2;
    display: none;
}

#pigeon_new {
	width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100px;
    z-index: 2;
    display:block;
	opacity: 0.5;
    animation: ease 1s pigeon_rev;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes pigeon_rev {
    0% 
	{
		transform: translateY(0%);
    }

    100%
       {
        transform: translateY(-40%);
        z-index: 0;
    }
}