.with-img > img {
    max-width: 18em;
    height: 12em;
    margin: auto;
}

.collapsed {
    width:20%;
}

/*for img*/
.hidden {
    display: none;
}

.expanded {
    width: 80%;
}

.with-img > img {
    max-width: 90%;
    height: 12em;
}


.menu {
    padding: 0.1em;
}


.menu > button {
    width: 33%;
    background-color: seagreen;
}