* {
    padding: 0;
    margin: 0;
    color:azure;
}

header {
    font-family: monospace;
}


header, footer {
    font-size: 2em;
    width: 100%;
    min-height: 1.2em;
    text-align: center;
    background-color: green;
}

.content {
    font-family: sans-serif;
    padding: 2em;
    margin-left: 35%;
    margin-right: 35%;
    background-color:darkblue;
}

.cool-block {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 4em;
    height: 4em;
    border: 0.2em solid azure;
    border-radius: 14px 0 14px 0;
}

.cool-block:hover{
    border: 0.2em solid yellow;
    border-radius: 0 14px 0 14px;
}

a {
    display: block;
    color: red;
    text-align: center;
}

#spacer-h3 {
    word-spacing: 1.2em;
}

ul {
    padding: 1em;
    padding-left: 2em;
}

li:nth-child(2n) {
    color:aqua;
    letter-spacing: 0.15em;
}

.columns-wrapper {
    min-height: 8em;
}

.columns-wrapper > #left {
    float: left;
}

.columns-wrapper > #right {
    float: right;
}

.underlined {
    text-decoration: underline;
}
.linethrough {
    text-decoration: line-through;
}


#best-table{
    height: 5em;
    width: 6em;
    margin-top: 1em;
    border: 1px solid yellow;
}

td {
    vertical-align: bottom;
    text-align: center;
    border: 1px solid yellow;
}

.green-td{
    background-color: green;
}

.red-td {
    background-color: red;
}

#like-img {
    float:right;
    margin-top: 0.5em;
}