* {
    margin: 0;
    padding: 0;
}


header {
    height: 80px;
    background-color:darkkhaki;
}

.left {
    background-color:yellowgreen;
    float: left;
    width: 200px;
    padding: 2px;
}

.right {
    padding: 2px;
}
