* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aqua;
}

.nav {
    width: 30%;
    height: 100px;
    background-color: salmon;
}

.content {
    position: relative;
    width:70%;
    background-color: gray;
}

#with-pic {
    display: inline-block;
    background-color: lightgrey;
    height: auto;
}

img {
    width: 30%;
    height: 30%;
    float: right;
}