#solomid {
    margin: 0 auto;
    max-width: 800px;
    min-width: 700px;
    background-color:aquamarine;
    color: gray;
}

#solomid-improved {
    margin: 0 auto;
    max-width: 700px;
    background-color:cornflowerblue;
    color:black;
}