.green {
    margin: 0 auto;
    background-color: yellowgreen;
    max-width: 40%;
    margin-bottom: 2em;
}

.blue {
    background-color: aqua;
    margin: 0 auto;
    padding: 2em;
    max-width: 40%;
}