* {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

#a {
    background-color: blueviolet;
    width: 160px;
    height: 120px;
}
#b {
    background-color:crimson;
    position: relative;
    width: 160px;
    height: 120px;

}
#c {
    background-color: orange;
    position: relative;
    left: 32px;
    bottom: 30px;
    width: 160px;
    height: 120px;
}
#d {
    position: relative;
    width: 400px;
    height: 320px;
    background-color: pink;
}

#d > div {
    background-color: purple;
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 160px;
    height: 120px;
}

#e {
    background: #1c8c1c;
    position: fixed;
    width: 6.5em;
    height: 6.5em;
    border: solid 1px #1c8c1c;
    bottom: 0;
    right:0;
}