* {
    padding:0;
    margin:0;
}

.wrapper {
    display: flex;
}

.left {
    background-color: aquamarine;
}

.nav {
    width: 300px;
    background-color: salmon;
}

.content {
    background-color: grey;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: green;
}