#easy-check {
    min-width: 120px;
    width: 8%;
    position: absolute;
    text-align: center;
    top:0;
    right: 46%;
    left: 46%;
    padding: 0.3em;
    background-color: rgba(0,128,0, 0.7);
}

#easy-check > a {
    font-size: 1.4em;
    padding: 3px;
    color: white;
    text-decoration: none;
}

#easy-check > a:first-child {
    font-size: 1.4em;
    padding: 3px;
    color: black;
    text-decoration: none;
}