/*! tailwindcss v2.2.15 | MIT License | https://tailwindcss.com *//*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */*, ::after, ::before {
    box-sizing: border-box;
}
html {
    tab-size: 4;
}
html {
    line-height: 1.15;
}
body {
    margin: 0;
}
body {
    font-family: system-ui, Roboto, Helvetica, Arial, sans-serif
}
 h1 {
    margin: 0;
}
 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
html {
    font-family: ui-sans-serif, sans-serif;
    line-height: 1.5;
}
body {
    font-family: inherit;
    line-height: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}
h1 {
    font-size: inherit;
    font-weight: inherit;
}
a {
    color: inherit;
    text-decoration: inherit;
}
.relative {
    position: relative;
}
.flex {
    display: flex;
}
.h-10 {
    height: 2.5rem;
}
.min-h-screen {
    min-height: 100vh;
}
.w-64 {
    width: 16rem;
}
.max-w-3xl {
    max-width: 48rem;
}
.max-w-max {
    max-width: max-content;
}
.flex-1 {
    flex: 1 1 0%
}

.bg-black {
    background-color: rgba(0, 0, 0, 1);
}
.bg-green-700 {
    background-color: rgba(4, 120, 87, 1);
}
.bg-blue-800 {
    background-color: rgba(30, 64, 175, 1);
}
.p-2 {
    padding: .5rem;
}
.p-5 {
    padding: 1.25rem;
}
.p-10 {
    padding: 2.5rem;
}
.text-center {
    text-align: center;
}
.font-serif {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
.font-bold {
    font-weight: 700;
}
.text-white {
    color: rgba(255, 255, 255, 1);
}
.text-red-800 {
    color: rgba(153, 27, 27, 1);
}
.text-blue-100 {
    color: rgba(219, 234, 254, 1);
}