*::selection {
  color: white;
  background: green;
}

a {
  text-decoration: underline;
}

.wrapper {
  margin: 0 auto;
}

nav > ul > li {
  margin: 0.3em;
}


li > a {
  display: block;
  height: 30px;
  border: 2px solid blueviolet;
}

