.menu {
    border-bottom-right-radius: 5%;
}

.input-number {
    
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-number::focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.btn {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.shape {
    position: absolute;
    top: 10%;
    right: 30%;
    height: 26em;
    width: 26em;
    opacity: 0.4;
}

.circle {
    clip-path: circle();
    background-color: green;
}

.square {
    background-color: red;
}

.triangle {
    background-color: cornflowerblue;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

.shape:hover {
    cursor:grab;
}

.selected-shape {
    background-color: yellow;
}