*{
	font-family: verdana, helvetica;
	font-size: 14px;
}
body{
	padding: 0;
	margin: 0;
	background: #eeeff0;
}
section{
	margin: 1em;
}
p{
	margin-top: 0;
	margin-bottom: 0.5em;
}
p::selection{
	background: #e1e1e1;
	color: green;
}
a{
	text-decoration: none;
	color: #4f739a;
}
ul li{
	padding: 0.5em;
}
h1, h2, h3, h4{
	margin-top: 1em;
}
header{
	background: #4f739a;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}
footer{
	background: white;
	color: grey;
	text-align: center;
}
.main{
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 60px;
}
.menu{
	float: left;
	width: 16em;
	padding-right: 1em;
}
.menu ul{
	list-style: none;
	margin: 0;
}
.menu ul li:hover{
	background: #e2e6ec;
}
.ad-block{
	position: fixed;
	left: 1200px;
	top: 50px;
}
.ad-block section{
	width: 140px;
	background: white;
	border: solid 2px #e1e1e1;
	border-radius: 10px;
	padding: 1em;
}
.ad-block p{
	background: #eeeff0;
	margin: 1em auto;
}
.content{
	margin-left: 17em;
}
.content section{
	max-width: 400px;
	border: solid 2px #e1e1e1;
	border-radius: 15px;
	background: white;
	padding: 1em;
	text-align: justify;
}
.content section img{
	width: 100%;
}
.like_comm{
	padding-bottom: 1em;
}
.underlined{
	border-bottom: solid 5px #e1e1e1;
	padding-bottom: 0.5em;
}
@media (max-width: 768px){
	.menu{
		float: none;
		margin: 0 auto 2em;
		padding-right: 0;
		width: 100%;
	}
	.menu ul li{
		display: inline-block;
		margin-bottom: 1em;
	}
	.content{
		margin: 0 auto;
	}
}